<ion-content>
  <div class="onboarding-container">
    <div class="onboarding-heading">
      <h2>qpay.</h2>
    </div>

    <div class="onboarding-picture">
      <ion-img src="../../assets/appphoto.png"></ion-img>
    </div>

    <div class="onboarding-title">
      <h1>
        Keep your <span class="text-primary">finances</span> <br />
        under control
      </h1>
      <h3>
        Instant payments, transactions, investing and seemless financial
        management
      </h3>
    </div>

    <div class="onboarding-buttons">
      <ion-button
        shape="round"
        color="medium"
        fill="outline"
        routerLink="/login"
        >Login</ion-button
      >
      <ion-button
        shape="round"
        fill="outline"
        color="medium"
        routerLink="/register"
        >Register</ion-button
      >
    </div>
  </div>
</ion-content>
