<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Withdraw</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Enter bank name"
      [(ngModel)]="name"
      placeholder="Bank name"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Enter BSB"
      [(ngModel)]="bsb"
      placeholder="BSB"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Enter account number"
      [(ngModel)]="account"
      placeholder="Account num"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Enter amount"
      [(ngModel)]="amount"
      placeholder="Amount"
    ></ion-input>
  </ion-item>
</ion-content>
